/*_components.scss*/
.hero {
  position: relative;
  padding-bottom: 8rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: $color-primary;
    transform: skewY(-2deg);
    transform-origin: top left;
    z-index: -1;
  }
}

.hero-logo {
  height: 1.9rem;
}

.manage-bg {
  border-radius: 1rem;
  border-bottom-right-radius: 7rem;
}

.credit-card {
  background: $color-secondary;
  border-radius: $radius-md;
  padding: 1.75rem;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../assets/bg-card.svg") no-repeat left / 260%;
    opacity: 0.12;
  }
}
.badge-tools {
  background: $color-warning;
  color: #111;
}
.badge-features {
  background: $color-success;
}

/* floatting img: tried to avoid an spaghetti scss but I really need to fix it without bootstrap */

.tools-card {
  position: relative;
  max-width: 80%;
}

.tools-panel {
  width: 90%;
  margin-left: -1.5rem;
  padding: 2rem 2rem 2.5rem;
  position: relative;
  z-index: 1;

  background: rgba(255, 255, 255, 0.95);
  border-radius: $radius-sm;
}

.tools-list li {
  padding: $radius-lg;
  font-size: 0.95rem;
  border-bottom: 1.5px solid $color-warning;
}

.tools-panel small {
  color: #6c757d;
}

.tools-image {
  width: 62%;
  position: absolute;
  top: -1.25rem;
  right: -2rem;
  z-index: 2;
}

.tools-play {
  position: absolute;
  top: $radius-md;
  right: $radius-md;
}

.tools-card::after {
  content: "";
  position: absolute;
  right: -6rem;
  bottom: -3rem;
  width: 120px;
  height: 80px;
  border-bottom: 2px dashed rgba($color-warning, 0.4);
  border-right: 2px dashed rgba($color-warning, 0.4);
  border-radius: 0 0 50px 0;
}

@media (max-width: 991px) {
  .tools-panel {
    width: 100%;
    margin-left: 0;
  }

  .tools-image {
    position: static;
    width: 100%;
    margin-top: 1rem;
  }

  .tools-card::after {
    display: none;
  }
}
