/* _layout.scss */
@use "variables" as *;

.hero-logo {
  height: 1.9rem;
}
.hero {
  position: relative;
  padding-bottom: 8rem;
  background: $color-primary;
  z-index: 1;
}
.hero::after {
  content: "";
  position: absolute;
  bottom: -4rem;
  left: 0;
  width: 100%;
  height: 9rem;

  background: #fff;
  transform: skewY(-2deg);
  transform-origin: bottom right;
  z-index: -1;
}

.hero > .container {
  position: relative;
  z-index: 1;
}

.footer-skew {
  position: relative;
  background: $color-secondary;
  color: #fff;
  z-index: 0;
  margin-top: 10rem;
}

.footer-skew::before {
  content: "";
  width: 100%;
  height: 6rem;
  position: absolute;
  top: -6rem;
  left: 0;

  background: $color-secondary;
  transform: skewY($skew-angle);
  transform-origin: top right;
  z-index: -1;
}

.footer-skew .footer-links a,
.footer-skew .footer-legal a {
  text-decoration: none;
  color: #fff;
}
