/*_layout.scss*/
@use "variables" as *;

.hero {
  position: relative;
  padding-bottom: 8rem;
  background: $color-primary;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: -4rem;
  left: 0;
  width: 100%;
  height: 9rem;
  background: #fff;
  transform: skewY(-2deg);
  transform-origin: bottom right;
}

.hero-logo {
  height: 1.9rem;
}

.footer-skew {
  position: relative;
  background: $color-secondary;
  color: #fff;
}

.footer-skew::before {
  content: "";
  position: absolute;
  top: -6rem;
  left: 0;
  width: 100%;
  height: 6rem;
  background: $color-secondary;
  transform: skewY($skew-angle);
  transform-origin: top right;
}
