/*_sections.scss*/
@use "variables" as *;

.tools-card {
  position: relative;
  max-width: 80%;
}

.tools-panel {
  width: 90%;
  margin-left: -1.5rem;
  padding: 2rem 2rem 2.5rem;
  background: rgba(255, 255, 255, 0.95);
  border-radius: $radius-sm;
}

.tools-list li {
  padding: $radius-lg;
  border-bottom: 1.5px solid $color-warning;
}

.tools-image {
  position: absolute;
  top: -1.25rem;
  right: -2rem;
  width: 62%;
}

.tools-play {
  position: absolute;
  top: $radius-md;
  right: $radius-md;
}

.awards {
  padding: 6rem 0 8rem;
  background: #f5f4f4;
}
